.header {
  position: sticky;
  top: 0;
  left: 0;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  &--modal {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem 0;
    @include respond(biggerThanVertTablet) {
      flex-direction: row;
      padding: 1.5rem 5%;
    }
  }
  &__logo {
    min-width: max-content;
    margin-left: 5.5%;
    font-family: $font-family-heading;
    font-size: $font-heading-6;
    font-weight: $font-weight-heading-bold;
    color: $color-white;
    @include respond(biggerThanSmallPhone) {
      font-size: $font-heading-5;
    }
    &--modal {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-left: 0;
      @include respond(biggerThanVertTablet) {
        text-align: left;
      }
    }
  }
}
