.herobox {
  height: 80vh;
  // display: flex;
  position: relative;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  padding-top: 2rem;
  @include respond(biggerThanVertTablet) {
    flex-direction: row;
    text-align: left;
    padding-top: 0;
  }
  @media screen and (min-height: 50em) {
    height: 65vh;
  }
  @media screen and (max-width: 75em) and (min-height: 75em) {
    height: 60vh;
  }
  &__content {
    margin: 0 auto;
    margin-top: 2.5rem;
    @include respond(biggerThanSmallPhone) {
      margin-top: 5rem;
    }
    @include respond(biggerThanVertTablet) {
      max-width: 70rem;
      margin: 0;
      margin-top: 20vh;
      margin-left: 10%;
    }
  }
  &__header {
    margin: 0 auto;
    @include respond(biggerThanVertTablet) {
      margin: 0;
    }
  }
  &__memoji {
    overflow: hidden;
    position: absolute;
    width: 40rem;
    bottom: 0;   
    translate: -50%;
    @media screen and (max-width: 62.5em) {
      left: 50%;
    }
    @include respond(biggerThanVertTablet) {
      right: 0;
      bottom: 50%;
      translate: 0 50%;
      rotate: 270deg;
    }
    &-img {
      translate: 0 3.6rem;
      @include respond(biggerThanVertTablet) {
      }
    }
  }
}