.hf-socials {
  &__ul {
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding: 2rem 0;
  }
  &__icon {
    list-style: none;
    cursor: pointer;
  }
}

.sticky-socials {
  position: fixed;
  top: 17rem;
  left: 0;
  max-width: max-content;
  padding: 1rem;
  padding-left: 0.5rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  &__ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  &__icon {
    list-style: none;
    cursor: pointer;
  }
}
